/config.json
Thumbs.db
target/**
*.class
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
/netbox-bulk-connect.xml
/netbox-bulk-connect_lib
/.classpath
/.project
/.settings
/netbox-bulk-connect.jar
/netbox-bulk-connect.exe
